Sentiment analysis of feedback of a restaurant to find areas where to work on

In [37]:
import pandas as pd

In [13]:
data=pd.read_csv("dataset.csv", header=None)

In [14]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,Wow Loved this place,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Crust is not good,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Not tasty and the texture was just nasty,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Stopped by during the late May bank holiday of...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,The selection on the menu was great and so wer...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data=data.drop(columns=[1,2,3,4,5,6,7,8,9,10,11])

In [16]:
data.head()

                                                   0
0                              Wow Loved this place
1                                  Crust is not good
2           Not tasty and the texture was just nasty
3  Stopped by during the late May bank holiday of...
4  The selection on the menu was great and so wer...

In [17]:
pip install vaderSentiment

Requirement already satisfied: vaderSentiment in c:\users\vinay\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: requests in c:\users\vinay\anaconda3\lib\site-packages (from vaderSentiment) (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vinay\anaconda3\lib\site-packages (from requests->vaderSentiment) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\vinay\anaconda3\lib\site-packages (from requests->vaderSentiment) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vinay\anaconda3\lib\site-packages (from requests->vaderSentiment) (2023.5.7)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\vinay\anaconda3\lib\site-packages (from requests->vaderSentiment) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [18]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [19]:
a=SentimentIntensityAnalyzer()

In [21]:
print(data[0][1])

Crust is not good

In [22]:
b=[]
for i in range(1000):
    b.append(a.polarity_scores(data[0][i])["compound"])
data[1]=b

In [23]:
data.head()

                                                   0       1
0                              Wow Loved this place   0.8271
1                                  Crust is not good -0.3412
2           Not tasty and the texture was just nasty -0.5574
3  Stopped by during the late May bank holiday of...  0.6908
4  The selection on the menu was great and so wer...  0.6249

In [32]:
data=data.sort_values(by=1)

In [35]:
pd.set_option("display.max_colwidth", None)
data[0].head(10)

289                             I hate to disagree with my fellow Yelpers, but my husband and I were so disappointed with this place
492                                      Worse of all, he humiliated his worker right in front of me Bunch of horrible name callings
44                                                        Frozen pucks of disgust, with some of the worst people behind the register
378                                                                                                  RUDE & INCONSIDERATE MANAGEMENT
379    The staff are now not as friendly, the wait times for being served are horrible, no one even says hi for the first 10 minutes
958                                            My husband said she was very rude did not even apologize for the bad food or anything
46                                                                                          It's too bad the food is so damn generic
967                                                                                                           Hell no will I go back
336                        First - the bathrooms at this location were dirty- Seat covers were not replenished & just plain yucky!!!
495                                                                                                          And then tragedy struck
Name: 0, dtype: object